* {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0 15vw;
}

a {
  text-decoration: none;
  color: white;
}

/* FOOTER NAVI BAR */

.footer-bar {
  background-color: #FFCA41;
  display: flex;
  justify-content: center;
  padding: 2%;
}


/* OVERVIEW LIST */

.overview-article {
  width: 80%;
}

.overview-article img {
  width: 100%;
  margin-top: 5%;
}

.overview-article a {
  color: white;
  background-color: #FFCA41;

}

.overview-article h1 {
  padding: 4% 5% 8% 5%;
  font-size: 1.5rem;
  background-color: #FFCA41;
}

.overview-article p {
  margin: 5% 0;
}


/* BEER LIST */

.beer-item {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.beer-item img {
  width: 15%;
  padding: 5% 10%;
}

h3 {
  color: #FFCA41;
  font-size: 1.5rem;
  margin-bottom: 8%;
}

.beer-item p {
  margin-bottom: 8%;
}

.beer-item a {
  background: #FFCA41;
  border-radius: 40px;
  font-weight: 500;
  padding: 1% 8%;
}

hr {
  text-align: center;
  border-top: 1px solid grey;
  width: 70%;
  margin: 10% auto;
}

/* DETAIL BEER */

.beer-detail h1 {
  font-size: 3rem;
}

.beer-detail p:nth-of-type(1),
p:nth-last-of-type(2) {
  color: grey;
  margin-bottom: 2%;
}

.beerdetail-img {
  width: 30%;
}

.back-arrow {
  width: 15%;
  margin: 15% 0;
}