@font-face {
  font-family: 'Roboto Slab';
  src: url("./fonts/RobotoSlab-VariableFont_wght.ttf");
}

body {
  margin: 0;
  font-family: 'Roboto Slab';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 15px;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}